//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/stanford/images/sunrise.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/stanford/images/epam-video-thumb.jpg';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    margin-top: 25px;
    width: 750px;
    top: 0px !important;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}